@import url(./_theme/section-title_theme_dark.css);

.section-title {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    line-height: 1.15;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    z-index: 2;
}
