@import url(./_content/footer__column_content_copyright.css);

.footer__column-heading {
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.footer__column-links {
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 16px;
    margin: 0;
    list-style-type: none;
}

.footer__column-link {
    color: #4f4f4f;
    text-decoration: none;
    transition: opacity .2s ease-in-out
}
