@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/** header **/
.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    position: relative;
    display: flex;
    background-color: #F2F2F2;
    overflow: hidden;
}

.logo {
    width: 154px;
    height: 31px;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 3;
}

.header__title {
    width: 730px;
    position: relative;
    align-self: center;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    z-index: 3;
}

.header__subtitle {
    width: 388px;
    position: absolute;
    bottom: 30px;
    left: 64px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    z-index: 3;
    margin: 0;
}

.header__link {
    text-decoration: none;
    color: #2F80ED;
    transition: opacity .2s ease-in-out
}

.header__link:hover {
    opacity: 0.5;
}

.header__main-illustration{
    width: 765px;
    height: 608px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.header__square-pic {
    background-color: #2F80ED;
    height: 568px;
    width: 568px;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 1;
    transform: rotate(45deg);
}

.rotation {
    animation: rotation 20s linear infinite;
}

/** description section **/
.description {
  padding-top: 100px;
}

.two-columns {
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.two-columns__brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
    margin: 0;
}

.two-columns__main-text {
    min-width: 748px;
    width: 80%;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size:  24px;
    font-weight: normal;
    margin: 0;
    padding-bottom:  30px;
}

.two-columns__paragraph:last-of-type {
    padding-bottom: 0;
}

.two-columns__span-accent {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
}

/** techniques section **/
.techniques {
    padding-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cards {
    width: 920px;
    margin: auto;
    padding-left: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.cards__item {
    width: 240px;
    padding-top: 60px;
    padding-right: 100px;
    list-style-type: none;
    text-align: center;
}

.cards__image {
    width: 160px;
    height: 160px;
    padding-right: 40px;
    padding-left: 40px;
}

.cards__title {
    padding-top: 43px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.cards__description {
    padding-top: 16px;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

/** video section **/
.video {
    padding-top: 100px;
}

.video__iframes {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.video__iframe {
    margin-right: 20px;
    z-index: 1;
}

.video__iframe:last-of-type {
    margin-right: 0;
}

/** oakley section **/
.oakley {
    padding-top: 160px;
    padding-bottom: 80px;
    background-color: #F2F2F2;
    transform: translateY(-50px);
}

/** digits section **/
.digits {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-title {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    line-height: 1.15;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    z-index: 2;
}

.section-subtitle {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.table {
    width: 1100px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.table__cell {
    width:250px;
    margin-top: 60px;
    list-style-type: none;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    padding-top: 20px;
    margin: 0;
}

/** feynman section **/
.feynman {
    height: 790px;
    position: relative;
    background-color: #F2F2F2;
    background-image: url("../images/feynman.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 867px 637px;
    margin-top: -50px;
}

.feynman__title {
    width: 775px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    z-index: 2;
    line-height: 1.15;
    font-size:  120px;
    font-weight: bold;
    text-align: center;
}

.feynman__subtitle {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}

.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color:  #000000;
    z-index: 2;
    transition: opacity .2s ease-in-out
    }

.feynman__link:hover {
        opacity: 0.5;
    }

/** kaufman section **/
.kaufman {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #1F1F1F;
    overflow: hidden;
    position: relative;
}

.section-title_theme_dark {
    color: white;
    position: relative;
    z-index: 2;
}

.section-subtitle_theme_dark {
    color: white;
    position: relative;
    z-index: 2;
}

.table_theme_dark {
    z-index: 2;
}

.table__cell_theme_dark {
    width: 200px;
    margin-right: 0;
    margin-top: 80px;
}

.table__heading_theme_dark {
    color: white;
}

.table__text_theme_dark {
    color: white;
}

.kaufman__triangle {
    width: 877px;
    height: 877px;
    position: absolute;
    top: 0;
    right: -210px;
    z-index: 1;
}

/** kahn section **/
.kahn {
  background-color: #F2F2F2;
  padding-top: 105px;
}

.kahn__container {
    width: 80%;
    margin: auto;
}

.khan__author {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
}

.kahn__title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.kahn__quote {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 790px;
    margin: 0;
    padding-top: 50px;
}

.kahn__quote-author {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding-top: 36px;
}

.kahn__quote-author-subline {
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding-top: 10px;
}

.kahn__book-container {
    padding-top: 68px;
    width: 620px;
    height: 608px;
}

.kahn__book-pic {
    width: 100%;
}

.kahn__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2F80ED;
    position: absolute;
    transform: translateX(20px);
    transition: opacity .2s ease-in-out
}

.kahn__buy-link:hover {
    opacity: 0.5;
}

/** resources section **/
.resources {
    padding-top: 100px;
    padding-bottom: 217px;
}

.resources__logo-zone {
    padding-top: 80px;
    width: 1100px;
    margin: auto;
}

.resources__logo {
    width: 270px;
    height: 38px;
}

/** footer **/
.footer {
    min-height: 350px;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #1F1F1F;
    display: flex;
    position: relative;
}

.footer__columns {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    color: white;
}

.footer__column_content_copyright {
    flex-basis: 711px;
}

.logo_place_footer {
    background-size: contain;
}

.footer__author {
    padding-top: 18px;
    padding-bottom: 18px;
    margin: 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    bottom: 40px;
    color: #4f4f4f;
}

.footer__column_heading {
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.footer__column_links {
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 16px;
    margin: 0;
    list-style-type: none;
}

.footer__column_link {
    color: #4f4f4f;
    text-decoration: none;
    transition: opacity .2s ease-in-out
}

.footer__column_link:hover {
    opacity: 0.5;
}

.footer__social_icon {
    height: 16px;
    width: 16px;
    padding-right: 10px;
}
